# Figures directory
Figures/
Putative_pathway/*.pse
Putative_pathway/*/*.pse
Putative_pathway/*.svg
Putative_pathway/*/*.svg
# objects under analysis
analysis/objects/
analysis/old_scripts
# temperally
*.swp
*.pyc
PDB4Figures/
